{% extends "base.html" %}

{% block content %}

    {% include "projects/dashboard/dashboard_navbar.html" %}

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-2">{% include "projects/dashboard/dashboard_sidebar.html" %}</div>
    
            <div class="col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">

                        <div class="page-header">
                          <h1>Editar equipo <small></small></h1>
                        </div>

                        {% include "projects/dashboard/team_teamform.html" %}

                        {% include "projects/dashboard/team_memberform.html" %}

                    </div>
                </div>
            </div>
            
        </div><!-- /row -->
    </div><!-- /container-fluid -->

{% endblock %}